body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 30px;
}

.container,
.form-container {
    max-width: 950px;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h1 {
    color: #222;
}

.add-btn,
button {
    display: inline-block;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background: #2563eb;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background: #2563eb;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}